/* DEFAULT STYLES, DO SOME RESETS */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  background: var(--white-color);
}
