/* DEFAULT STYLES FOR TYPOGRAPHY  MOBILE FIRST APPROACH*/
@use "../utils" as u;


h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 28px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: u.rem(16);
}

a, a:visited, a:active {
  text-decoration: none;
  color: #000000;
}

ul li {
  list-style: none;
}


div {
  .logo {

    a {
      font-family: var(--logo);
      font-size: clamp(u.rem(30), u.rem(16) + 3vw, u.rem(50));


      font-weight: 800;
      letter-spacing: u.rem(-5);


      @include u.breakpoint-up(medium) {
        letter-spacing: u.rem(-7);
      }

      @include u.breakpoint-up(x-large) {
        letter-spacing: u.rem(-9);
      }


    }

    .red {
      color: var(--primary-color);
    }

    .blue {
      color: var(--secondary-color);
    }

    .white {
      color: var(--white-color);
    }

    cursor: pointer;
  }
}