/*GLOBALS VARIABLES FOR ELEMENTS*/

:root {

    /*Theme Color*/
  --default-color:#787878;
  --primary-color: #e74739;
  --secondary-color: #273469;
  --white-color: #fbfbfb;


  /*Font face*/
  --logo: "Roboto", sans-serif;
  --default-font: "Poppins", sans-serif;
  --admin-font: "Lato", sans-serif;
  --cursive-font: "Cedarville Cursive", cursive;
  --content-heading: "Montserrat", sans-serif;


} 