@use '../../utils' as u;

.nav__menu {

  &--cta-btns {

    .account-cta {

      &--dropdown {
        position: relative;
      }

      &-wrapper {
        display: none;
        position: absolute;
        top: 75px;
        transform: translateX(-10%);

        padding: u.rem(20);
        @extend %dropdown-card-styles;


        .logout-btn {
          padding: u.rem(5);
          margin-bottom: u.rem(3);
          @extend %cta-btn;
          width: 100%;
          border: none;
          transition: background-color;
          &:hover {
            transition: 0.4s ease-in-out;
          }

        }

        .account-info-wrapper {
          a {
            display: block;
            padding: u.rem(5);
            margin-bottom: u.rem(10);
            transition: background-color;

            &:hover {
              background-color: var(--gray-color);
              transition: 0.4s ease-in-out;

            }
          }
        }
      }

    }

    .show-cta-dropdown {
      display: block;
    }
  }

}
