@use '../../utils' as u;

.nav__menu--nav {


  .nav__list-categories {

    .nav-item {
      position: relative;

      .nav-link {
        display: block;
        position: relative;

        &:hover {
          &::after {
            content: "";
            display: block;
            border-bottom: 4px solid var(--white-color);
            position: absolute;
            top: 30px;
            width: 60%;

          }

        }

      }

      //  DROPDOWN MENU

      .dropdown-menu-nav-bar {
        display: none;
        position: absolute;

        top: calc(100% + 20px);
        left: 0;
        z-index: 1;
        width: u.rem(560);


        @include u.breakpoint-up(large) {
          width: u.rem(675);
        }

        @extend %dropdown-card-styles;


        padding: u.rem(20);

        &__column {
          padding: u.rem(8);

          h4 {
            @extend %small-sections-heading;
            text-transform: capitalize;
            margin-bottom: u.rem(12);
          }

          a {
            display: block;
            margin-bottom: u.rem(10);
            font-size: u.rem(12);

            &:hover {
              color: var(--primary-color);

            }
          }

        }
      }

      .show {
        @include u.flex(space-between, flex-start);

      }

    }

  }

}
