/* STYLES FOR THE NAVIGATION MOBILE FIRST APPROACH*/
@use '../../utils' as u;

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(251, 251, 251, 1) 43%, rgba(211, 211, 252, 1) 71%, rgba(253, 29, 29, 1) 92%);

  z-index: 100;

  box-shadow: -1px 9px 18px -4px rgba(105, 105, 105, 1);
  -webkit-box-shadow: -1px 9px 18px -4px rgba(105, 105, 105, 1);
  -moz-box-shadow: -1px 9px 18px -4px rgba(105, 105, 105, 1);


  ul {
    padding: 0;
    margin: 0;
  }

  &__menu {
    @extend %center-element;
    padding: u.rem(16) u.rem(7);


    @include u.flex(space-between, center);


    &-wrapper {
      display: flex;
      align-items: center;
      gap: u.rem(15);

      @include u.breakpoint-up(medium) {
        flex-grow: 1;
      }

      &--btns {
        padding-top: u.rem(5);
        @include u.breakpoint-up(x-large) {
          display: none;
        }

        i {
          @extend %icon-size;
        }
      }

    }

    &--nav {
      display: none;
      @include u.breakpoint-up(x-large) {
        display: block;
        flex-grow: 1;
      }

      li {
        cursor: pointer;
      }

      span {
        padding-inline-start: u.rem(5);
      }
    }

    &--cta-btns {
      display: flex;

      gap: u.rem(18);


      .account-cta {
        i {
          @extend %icon-size;
        }

        i, span {
          padding-inline-end: u.rem(10);
        }

        .d-none-small {
          display: none;

          @include u.breakpoint-up(x-large) {
            display: inline-block;
          }
        }
      }

      i {
        @extend %icon-size;
      }
    }
  }

  @extend %section-divider;

}

/** SEARCH INPUT FORM FOR THE NAVIGATION**/
.nav__search-bar {
  position: relative;

  form {
    input {
      @extend %input-form;
    }
  }

  i {
    @extend %form-icon-position;
  }

}

.mobile {
  @extend %center-element;
  padding-bottom: u.rem(10);

  @include u.breakpoint-up(medium) {
    display: none;
  }

  form {
    input {
      width: 100%;
    }
  }
}

.large {
  display: none;

  flex-grow: 1;
  @include u.breakpoint-up(medium) {
    display: block;
  }

  form {
    display: flex;
    width: 80%;

    input {
      flex-grow: 1;
      margin-right: u.rem(10);
    }

    button {
      @extend %cta-btn;
      padding: u.rem(13.2);
      border-radius: u.rem(10);

    }
  }
}

