@use "../utils" as u;


.admin {
  display: flex;
  flex-direction: column;
  height: 100vh;


  &__navbar {
    width: 100%;
    background: linear-gradient(135deg, #4d86be, #719ac4, #ffffff, #0000ff, #ff0000);
    @include u.flex(space-between, center);
    box-shadow: -1px 9px 18px -4px rgba(105, 105, 105, 1);
    -webkit-box-shadow: -1px 9px 18px -4px rgba(105, 105, 105, 1);
    -moz-box-shadow: -1px 9px 18px -4px rgba(105, 105, 105, 1);
    padding: u.rem(10) u.rem(15);

    @include u.breakpoint-up(x-large) {
      padding-inline: u.rem(32);
    }

    &--logo-wrapper {
      display: flex;
      align-items: center;
      gap: u.rem(7);

      &_toggle-btn {
        @include u.breakpoint-up(x-large) {
          display: none;
        }

        i {
          font-size: 20px;
        }
      }

      .logo {
        h1 {
          a {
            @include u.breakpoint-down(medium) {
              font-size: u.rem(26) !important;
              letter-spacing: u.rem(-5) !important;
            }

          }

        }

      }
    }


    &--user-info {
      display: flex;
      align-items: center;
      gap: u.rem(10);
      color: var(--white-color);

      i {
        @extend %icon-size;

        @include u.breakpoint-down(medium) {
          font-size: u.rem(20);
        }
      }

      @include u.breakpoint-up(x-large) {
        font-size: u.rem(20);
      }
    }

  }


  &__container {
    display: flex;
    //height: calc(100% - 75px);
    height: 100%;


    &--sidebar {
      width: u.rem(250);
      @extend %dropdown-card-styles;
      border-radius: 0;
      background-color: var(--white-smoke);

      //transition: 0.5s ease-in-out;


      &-nav {
        @include u.flex(space-between, flex-start);
        flex-direction: column;
        height: 100%;
        padding: u.rem(10);

        @include u.breakpoint-up(x-large) {
          padding: u.rem(32);
        }


        color: var(--dark-gray-color);

        .admin-nav-wrapper {
          margin-top: u.rem(15);
          color: var(--dark-gray-color);

          a {
            color: inherit;
            font-size: u.rem(13);

            display: block;

            &:not(:last-child) {
              margin-bottom: u.rem(16);
            }
          }

        }

        i {
          font-size: u.rem(17);
          margin-right: u.rem(5);
        }

        .admin-logout {
          border: none;
          cursor: pointer;
          padding: u.rem(5) u.rem(7);
          border-radius: u.rem(5);
          transition: background-color, color;

          &:hover {
            background-color: var(--light-blue-color);
            transition: 0.4s ease-in-out;
            color: var(--white-smoke);
          }
        }


      }
    }

    &--main-content {
      flex-grow: 1;
      padding: u.rem(20);
      background-color: #eee;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.50);


      h1, h2 {
        color: var(--dark-gray-color);
        margin-bottom: u.rem(20);
      }


      h1 {
        @include u.breakpoint-down(medium) {
          font-size: u.rem(22);
        }
      }

      h2 {
        @include u.breakpoint-up(medium) {
          font-size: u.rem(24);
        }

      }

      //transition: all 0.5s ease-in-out;

    }

  }
}