@use "../utils" as u;

.admin {
  &__container {
    &--main-content {

      .record-section {
        border: 1px solid var(--white-smoke);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
        padding: u.rem(10);


        .section-header {
          @include u.flex(space-between, center);

          h2 {
            margin-bottom: 0;
          }

          .section-actions {
            button {
              margin-left: u.rem(10);
            }

            .add-record-btn {
              background-color: var(--light-blue-color);
              color: var(--white-smoke);
              padding: u.rem(7);

              transition: background-color;

              &:hover {
                background-color: var(--secondary-color);
                transition: 0.4s ease-in-out;
              }
            }
          }
        }


        .record-table {
          width: 100%;
          border-collapse: collapse;
          margin-top: u.rem(10);

          th, td {
            border: 1px solid var(--table-border-color);
            padding: u.rem(8);
            text-align: left;
          }

          td {
            font-size: u.rem(12);
            color: var(--dark-gray-color);

            img {
              width: 60px;
              object-fit: cover;
            }

            .active-column,
            .not-active-column {
              padding: u.rem(3) u.rem(7);
              border-radius: u.rem(5);
              text-align: center;
            }
            .active-column {
              background: lightgreen;
              color: var(--secondary-color);
            }

            .not-active-column {
              background: lightcoral;
              color: var(--white-smoke);
            }
          }

          th {
            background-color: var(--bg-table-head);
            color: var(--gray-color);
            font-size: u.rem(13);

          }

          .record-name-wrapper {
            display: flex;
            align-items: center;
            gap: u.rem(10);

            .record-image {
              //@extend %mobile-img-style;

            }
          }
          .action-btn-admin {
            display: inline;
          }


        }

        //  buttons
        button {
          border: none;
          background-color: #e0e0e0;
          padding: u.rem(3) u.rem(5);
          border-radius: u.rem(5);
          font-size: u.rem(13);
          color: var(--dark-gray-color);
          font-weight: 300;
          cursor: pointer;

          i {
            margin-inline-end: u.rem(4);
          }
        }

        .edit-btn {
          margin-right: u.rem(16);
          color: var(--secondary-color);
        }

        .edit-btn,
        .delete-btn {
          padding-inline: u.rem(16);
        }

        .delete-btn {
          color: var(--primary-color);
        }

        // pagination btn
        .pagination {
          margin-top: u.rem(16);

          @include u.flex(space-between, center);

          button {
            background-color: var(--white-smoke);
            border: 1px solid var(--gray-color);
            padding-inline: u.rem(8);
            transition: background-color;
            color: var(--secondary-color);

            &:hover {
              background-color: var(--secondary-color);
              transition: 0.5s ease-in-out;
              color: var(--white-smoke);
            }
          }

          .next {
            margin-left: u.rem(7);
          }

          .prev {
            margin-right: u.rem(7);
          }
        }

      }


    }


  }


}