@use "../utils" as u;

.single-product-wrapper {
 margin-top: u.rem(160);
  @extend %center-element;

  background-color: var(--bg-table-head);
  border-radius: u.rem(5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: u.rem(30);

  .product-card-single {
    display: flex;
    gap: u.rem(35);

    .product-image {
      flex: 1;
      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    .product-info {
      flex: 2;
      padding: u.rem(20);
      display: flex;
      flex-direction: column;
      gap: u.rem(30);
      justify-content: space-between;


      .product-details {
        h1, h2, p {
          font-weight: 300;
        }

        .product-description {
          margin-top: u.rem(20);

          h2 {
            margin-bottom: u.rem(16);
          }

        }
      }

      .add-to-cart {
        position: relative;
        button {
          border: none;
          background-color: var(--primary-color);
          width: 100%;
          border-radius: u.rem(4);
          cursor: pointer;
          font-size: u.rem(16);
          padding: u.rem(16);
          color: var(--ghost-white);

          &:hover {
            transition: background-color 0.4s ease-in-out;
            background-color: var(--light-blue-color);
          }
        }

        i {
          position: absolute;
          top: 19px;
          left: 16px;
          transform: translateX(-10%);
          color: var(--ghost-white);
          font-size: u.rem(16);
        }
      }
      .price {
        font-weight: bold;
        font-size: u.rem(20);
      }
    }
  }


}

