// REUSABLE STYLES FOR 231VOGUE

@use 'functions' as f;

%center-element {
  width: min(100% - f.rem(10), f.rem(1200));
  margin-inline: auto;
}

%mobile-img-style {
  width: f.rem(25);
  object-fit: contain;
  cursor: pointer;
}

%section-divider {
  margin-bottom: f.rem(40);
}

%input-form {

  padding: f.rem(13.2) f.rem(13.2) f.rem(13.2) f.rem(40);
  font-size: f.rem(14);
  border: 1px solid #ccc;
  border-radius: f.rem(10);
  outline: none;
}

%form-icon-position {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

%cta-btn {
  border: none;
  border-radius: f.rem(5);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-transform: uppercase;
}

%small-sections-heading {
  font-family: var(--content-heading);
  font-weight: 600;
  font-size: f.rem(15);
  color: rgba(79, 79, 79);
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


%dropdown-card-styles {
  background-color: var(--white-color);
  border-radius: f.rem(16);
  border: none;
  color: #000000;
  -webkit-box-shadow: -2px 4px 11px -1px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: -2px 4px 11px -1px rgba(0, 0, 0, 0.88);
  box-shadow: -2px 4px 11px -1px rgba(0, 0, 0, 0.88);
}


%icon-size {
  font-size: f.rem(30);
}